etc
Temp
Library
UnityPackageManager
Assets/Animations
Assets/Characters
Assets/Models
Assets/Prefabs
Assets/Materials
Assets/SFX
Assets/Standard Assets
Assets/Scenes
Assets/Maps
Assets/DynamicBone
*.meta